<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <!-- ejs sysntax <%=2+2%> It calculate the value -->
    <h1>ejs Page <%=2+2%></h1>
    <h1>This is Express Js Page</h1>


    <!-- /public/javascripts/script.js  The public not use becouse we already mentioned theat folder path into the index.js file -->
     <!-- If we inclue /public then the file will not linked -->
    <script src="/javascripts/script.js"></script> 
</body>
</html>