<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication Unit 2</title>
    <link rel="stylesheet" href="/stylesheets/output.css">
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
</head>
<body>
   <div class="w-full h-screen bg-zinc-900 text-white p-10">
    <h1 class="text-3xl mb-3">Uploade Profile Picture</h1>
    <form action="/profilepic" method="post" enctype="multipart/form-data">
        <input type="file" name="image">
        <input class="px-5 py-2 rounded-md bg-blue-500" type="submit" value="Upload Picture">
    </form>
   </div>
</body>
</html>